extends layout

block content
  p Submit a file to view its filesize
  form(action='/get-file-size', method='post', enctype='multipart/form-data')
    input(type='file', name='filename')
    input(type='submit')
